@using Tuskr.Web.Helpers
@using Tuskr.Web.Models

@model TaskModel

@Html.RequireScript("/Scripts/View_Scripts/Task/Task.js")


<div id="@Model.Id" class="t-elements col outline">
    <div class="t-main">
        <span class="t-view show">@Model.Name</span>
        <input class="t-edit hide" type="text" value="@Model.Name"/>
    </div>
    <div class="t-desc">
        <span class="t-view show">@Model.Description</span>
        <textarea class="t-edit hide">@Model.Description</textarea>
    </div>
    <div class="t-start">
        <span class="t-view show">@Model.StartDate</span>
        <input class="t-edit hide" type="text" value="@Model.StartDate"/>
    </div>
    <div class="t-duration">
        <span class="t-view show">@Model.Duration</span>
        <input class="t-edit hide" type="text" value="@Model.Duration"/>
    </div>
    <div class="t-status">
        <span class="t-view show">@Model.Status</span>
        <input class="t-edit hide" type="text" value="@Model.Status"/>
    </div>
    <div class="t-options">
        <a href="#" class="t-edit">Edit</a>
    </div>
</div>
        
