@using Tuskr.Web.Helpers
<!DOCTYPE html>
<html lang="en" class="outline">
    <head class="outline">
        <meta charset="utf-8" />
        <title>@ViewBag.Title - tuskr</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        
        <div class="hd bgclr outline">
            <header>
                <div class="f-left outline">
                    <p>@Html.ActionLink("tuskr", "Index", "Home", null, new {@class="site-title"})</p>
                </div>
                <div class="f-right outline">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Images/signup.jpg")" class="icon"/>
                    </a>
                </div>
                <div class="f-clear outline">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Tasks", "ShowTable", "Task")</li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>

        
        <div id="body" class="bd bgclr outline">
            <div class="b-hdr outline">
                @RenderSection("content_header", required: false)
            </div>
            <div class="b-data outline">
                @RenderBody()
            </div>
        </div>
        
        
        <footer class="ft bgclr outline">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - tuskr</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @*@Scripts.Render("~/")*@
        @Html.EmitRequiredScripts()

        @RenderSection("scripts", required: false)
    </body>
    


</html>
