<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - tuskr</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        
        <header>
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("tuskr", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/signup.jpg")" class="sign-up"/>
                </a>
                @*@Html.ActionLink("Home", "Index", new {Controller="Home", Action="Index"}, new { @class="classname float-right" })*@
            </div>
            <div class="clear-float">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Tasks", "All", "Task")</li>
                    </ul>
                </nav>
            </div>
        </header>

        
        <div id="body" class="body">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
        
        
        <footer>
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - tuskr</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/")
        @RenderSection("scripts", required: false)
    </body>
</html>
