@using Tuskr.Web.Models
@model IEnumerable<Tuskr.Web.Models.TaskModel>

@{
    ViewBag.Title = "all tasks";
}

@helper RenderTask(TaskModel item) 
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.StartDate</td>
        <td>@item.Duration</td>
        <td>@item.Status</td>
    </tr>
}

@helper RenderTasks(Func<TaskModel, bool> selector, string rowSetHeader)
{
    var pasts = Model.Where(selector).ToArray();
    if (pasts.Any())
    {
        <tr id="past"><td colspan="6">@rowSetHeader</td></tr>

        foreach (var item in pasts)
        {
            @RenderTask(item)
        }
    }
}


<table id="tasks">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>Duration</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    
    @{
        @RenderTasks(m => m.StartDate < DateTime.Now.Date, "BackLog Tasks")
        @RenderTasks(m => m.StartDate == DateTime.Now.Date, "Tasks for today")
        @RenderTasks(m => m.StartDate > DateTime.Now.Date, "Future Tasks")
    }
    </tbody>
</table>